In [6]:
import numpy as np
import re
import pandas as pd
from scipy.spatial import distance
from matplotlib import pyplot as plt

# 1

Если выписать все натуральные числа меньше 10, кратные 3 или 5, то получим 3, 5, 6 и 9. Сумма этих чисел равна 23.

Найдите сумму всех чисел меньше 1000, кратных 3 или 5.

In [2]:
x = [i for i in range(1,1000)]

In [7]:
a=[]
for i in x:
    if i%3 == 0:
        a.append(i)
    else:
        if i%5 == 0:
            a.append(i)

In [9]:
sum(a)

233168

# 2

Каждый следующий элемент ряда Фибоначчи получается при сложении двух предыдущих. Начиная с 1 и 2, первые 10 элементов будут:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

Найдите сумму всех четных элементов ряда Фибоначчи, которые не превышают четыре миллиона.

In [10]:
a = [1,2]

In [29]:
a= [1,2]
for i in range(2,100):
    x=0
    x=a[i-2]+a[i-1]
    a.append(x)

In [21]:
a:[a<4000000]

TypeError: '<' not supported between instances of 'list' and 'int'

In [32]:
def fun1(l):
    return l<4000000

In [34]:
b=fun1(a)

TypeError: '<' not supported between instances of 'list' and 'int'

In [35]:
b=list(filter(lambda a: a<4000000, a))

In [38]:
c=list(filter(lambda x: x%2==0, b))

In [39]:
sum(c)

4613732

# 3.

Простые делители числа 13195 - это 5, 7, 13 и 29.

Каков самый большой делитель числа 600851475143, являющийся простым числом?

In [6]:
def ffactors(x):
    a=[]
    for i in range(1,x):
        if x%i == 0:
            if IsPrime(i) == True:
                a.append(i)
    return a

In [44]:
def is_prime(a):
    n=0
    for i in range(2,a):
        if a%i==0:
            n+=1
    if n==0:
        return True
    else:
        return False

False

In [2]:
def IsPrime1(n):
    d = 2
    while d * d <= n and n % d != 0:
        d += 1
    return d * d > n

In [22]:
def IsPrime2(n):
    d = 2
    while d * d <= n and n % d != 0:
        d += 1
    return d * d > n

In [3]:
IsPrime2(600851475143)

False

In [6]:
def f_factor(x):
    n=x-1
    while x%n!=0:
        n-=1
    return n

In [5]:
f_factor(100)

50

In [7]:
def sol_3(x):
    check=False
    n=x
    while check!=True:
        min_fact=f_factor(n)
        check=IsPrime2(min_fact)
        print(min_fact,check)
        n=min_fact
    return n

In [ ]:
sol_3(600851475143)

In [ ]:
for each in f_factor(600851475143):
    if IsPrime(each)==True:
        print(each)

In [15]:
x=

In [19]:
a =cool(55)
a

1

In [3]:
def next_factor(x,f_step):
    n=f_step
    if f_step < x:
        n=f_step+1
        while (x%n!=0):
            n+=1
    return n

In [15]:
next_factor(90,2)

3

In [16]:
def result_3(x):
    a=[]
    x0=x
    min_fact=2
    check=1
    while x0>min_fact:
        min_fact=next_factor(x0,min_fact)
        a.append(min_fact)
        x0=x0/min_fact
    return a

In [21]:
result_3(600851475143)

[71, 839, 1471, 6857]

In [23]:
IsPrime2(6857)

True

# 4

Число-палиндром с обеих сторон (справа налево и слева направо) читается одинаково. Самое большое число-палиндром, полученное умножением двух двузначных чисел – 9009 = 91 × 99.

Найдите самый большой палиндром, полученный умножением двух трехзначных чисел.

In [76]:
def is_pol(x):
    s=str(x)
    i=len(s)
    if i==6:
        b1=s[0]+s[1]+s[2]
        b2=s[5]+s[4]+s[3]
        if b1==b2:
            return True
        else:
            return False
    else:
        return False

In [77]:
is_pol(191192)

False

In [85]:
x=[i for i in reversed(range(100,1000))]
y=x
x[2]

997

In [86]:
z=[]
for a in x:
    for b in y:
        res=a*b
        if is_pol(res)==True:
            z.append(res)

In [90]:
ans=pd.Series(z)

In [91]:
ans.sort_values(ascending=False).head(5)

2      906609
103    906609
34     888888
83     888888
98     886688
dtype: int64

In [28]:
a=[1,2,3]
len(a)

3

In [49]:
a='abcdef'
j=len(a)
b1=a[]
b=str([a[j-1-i] for i in range(0,j)])

In [42]:
b=[a]

In [47]:
b

"['e', 'd', 'c', 'b', 'a']"

# 5

2520 - самое маленькое число, которое делится без остатка на все числа от 1 до 10.

Какое самое маленькое число делится нацело на все числа от 1 до 20?

In [1]:
divs = [20,19,18,17,16,15,14,13,12,11]

In [103]:
num=[i for i in range(1,21)]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
def div_true(x):
    k=0
    for each in divs:
        if x%each == 0:
            k+=1
    if k==10:
        return True
    else:
        return False

In [4]:
check=False
i =2520
while check!=True:
    check=div_true(i)
    i+=1
i

232792561

In [5]:
div_true(232792560)

True

# 6

Сумма квадратов первых десяти натуральных чисел равна

12 + 22 + ... + 102 = 385
Квадрат суммы первых десяти натуральных чисел равен

(1 + 2 + ... + 10)2 = 552 = 3025
Следовательно, разность между суммой квадратов и квадратом суммы первых десяти натуральных чисел составляет 3025 − 385 = 2640.

Найдите разность между суммой квадратов и квадратом суммы первых ста натуральных чисел.

In [7]:
 a=np.array([i for i in range(1,101)])
a

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [8]:
b = a**2

In [9]:
b

array([    1,     4,     9,    16,    25,    36,    49,    64,    81,
         100,   121,   144,   169,   196,   225,   256,   289,   324,
         361,   400,   441,   484,   529,   576,   625,   676,   729,
         784,   841,   900,   961,  1024,  1089,  1156,  1225,  1296,
        1369,  1444,  1521,  1600,  1681,  1764,  1849,  1936,  2025,
        2116,  2209,  2304,  2401,  2500,  2601,  2704,  2809,  2916,
        3025,  3136,  3249,  3364,  3481,  3600,  3721,  3844,  3969,
        4096,  4225,  4356,  4489,  4624,  4761,  4900,  5041,  5184,
        5329,  5476,  5625,  5776,  5929,  6084,  6241,  6400,  6561,
        6724,  6889,  7056,  7225,  7396,  7569,  7744,  7921,  8100,
        8281,  8464,  8649,  8836,  9025,  9216,  9409,  9604,  9801,
       10000], dtype=int32)

In [12]:
c=(a.sum())**2 - b.sum()

In [13]:
c

25164150